<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>.bd-placeholder-img {font-size: 1.125rem; text-anchor: middle;}</style>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
	<div th:replace="~{common/navbar :: navbar}"></div>
	<div class="container">
		<main>
			<div class="py-5 text-center">
				<a href="home.do"><img class="d-block mx-auto mb-4" src="image2/springboot.png" width="130"></a>
				<h2>BOARD DETAIL</h2>
			</div>
			<div style="margin-left: 350px; margin-right: 350px;">
				<form class="needs-validation" method="POST" id="detailForm">
					<div class="row g-3">
						<div class="col-12">
							<label for="boardTitle" class="form-label">TITLE</label>
							<input type="hidden" th:value='${ b.boardId }' name="boardId">
							<input type="hidden" th:value='${ page }' name="page">
							<br>[[${ b.boardTitle }]]
						</div>

						<div class="col-12">
							<div class="input-group">
					          <span class="input-group-text">CONTENT</span>
					          <textarea class="form-control" rows="10" name="boardContent" style="resize: none;" readonly>[[${ b.boardContent }]]</textarea>
					        </div>
						</div>
						
						<main class="container py-5">
							<div class="row" th:each="a:${list}">
								<!-- 이미지 파일일 때 -->
								<th:block th:if="${#strings.containsIgnoreCase(a.renameName, 'jpg') or #strings.containsIgnoreCase(a.renameName, 'png')}">
									<div class="mb-4" th:if="${#strings.containsIgnoreCase(a.renameName, 'jpg') or #strings.containsIgnoreCase(a.renameName, 'png')}">
										<div class="card">
											<img th:src="@{image/} + ${ a.renameName }" width="100%" height="200">
											<div class="card-body">
												<h5 class="card-title">
													<a th:href="@{image/} + ${ a.renameName }" th:download="${ a.originalName }">[[${a.originalName}]]</a>
												</h5>
											</div>
										</div>
									</div>
								<!--</th:block>-->
									
								<!-- 이미지 파일이 아닐 때 -->
								<th:block th:unless="${#strings.containsIgnoreCase(a.renameName, 'jpg') or #strings.containsIgnoreCase(a.renameName, 'png')}">
									<div class="mb-4">
										<div class="card">
											<div class="card-body">
												<h5 class="card-title">
													<a th:href="@{image/} + ${ a.renameName }" th:download="${ a.originalName }">[[${a.originalName}]]</a>
												</h5>
											</div>
										</div>
									</div>
								</th:block>
							</div>
						</main>
						
						<th:block th:if="${session.loginUser != null && session.loginUser.id eq b.boardWriter}">
							<button class="w-100 btn btn-success btn-lg" type="button" id="updateForm">UPDATE</button>
							<button class="w-100 btn btn-secondary btn-lg" type="button" id="deleteModal">DELETE</button>
						</th:block>
						<button class="w-100 btn btn-dark btn-lg" type="button" th:onclick="|location.href='list.at?page='+ ${page}|">GO TO LIST</button>
					</div>
				</form>
			</div>
		</main>

		<footer class="my-5 pt-5 text-muted text-center text-small"></footer>
		
		<div class="modal fade" tabindex="-1" role="dialog" id="modalChoice">
			<div class="modal-dialog" role="document">
	    		<div class="modal-content rounded-3 shadow">
	      			<div class="modal-body p-4 text-center">
	        			<h3 class="mb-0">정말로 삭제하시겠습니까?</h3>
	        			<p class="mb-0">삭제 후 게시글은 되돌릴 수 없습니다.</p>
	      			</div>
	      			<div class="modal-footer flex-nowrap p-0">
	        			<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end" id="delete">
	        				<strong>네</strong>
	        			</button>
	        			<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">아니오</button>
	      			</div>
	    		</div>
  			</div>
		</div>
	</div>
	
	<script>
		window.onload = () =>{
			const upd = document.getElementById("updateForm");
			const form = document.getElementById('detailForm');
			if(upd != null){
				upd.addEventListener('click', ()=>{
					form.action = 'updateForm.at';
					form.submit();
				});
			}
			
			document.getElementById('deleteModal').addEventListener('click', ()=>{
				$('#modalChoice').modal('show');	
			});
			
			document.getElementById("delete").addEventListener('click', ()=>{
				form.action = 'delete.at';
				form.submit();
			});
		}
	</script>
</html>